@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary        : #7380ec;
    --color-danger         : #ff7782;
    --color-success        : #41f1b6;
    --color-warning        : #ffbb55;
    --color-white          : #fff;
    --color-info-dark      : #7d8da1;
    --color-info-light     : #dce1eb;
    --color-dark           : #363949;
    --color-light          : rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant   : #677483;
    --color-background     : #f6f6f9;

    --card-border-radius: 28px;
    --border-radius-1   : 5.6px;
    --border-radius-2   : 11.2px;
    --border-radius-3   : 16.8px;

    --sidebar-width: 196px;
    --card-padding : 25.2px;
    --padding-1    : 16.8px;

    --box-shadow: 0 28px 42px var(--color-light);
}

.dark-theme-variables {
    --color-background  : #181a1e;
    --color-white       : #202528;
    --color-dark        : #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light       : rgba(0, 0, 0, 0.4);
    --box-shadow        : 0 28px 42px var(--color-light);
}

* {
    margin         : 0;
    padding        : 0;
    outline        : 0;
    appearance     : none;
    border         : 0;
    text-decoration: none;
    list-style     : none;
    box-sizing     : border-box;
}

html {
    font-size: 14px;
}

body {
    width      : 100vw;
    height     : 100vh;
    font-family: 'Poppins', sans-serif;
    font-size  : 12.32px;
    background : var(--color-background);
    user-select: none;
    overflow-x : hidden;
    color      : var(--color-dark);
}

.container {
    display              : grid;
    width                : 100%;
    margin               : 0 auto;
    gap                  : 25.2px;
    grid-template-columns: var(--sidebar-width) auto 322px;
}

.dev__container {
    display: flex;
    gap    : 25px;
}

.sidebar {
    width     : 220px;
    height    : 100vh;
    padding   : 55px 24px 55px 25px;
    box-shadow: 0 22px 22px rgba(132, 139, 200, 0.18);
}

.sidebar__top {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 28px;
}

.logo {
    display    : flex;
    gap        : 11.2px;
    align-items: center;
}

.logo__image span {
    font-size: 28px;
    color    : var(--color-primary);
}

.logo h1 {
    font-weight: 700;
    font-size  : 19.6px;
}

.logo p {
    color     : var(--color-info-dark);
    font-size : 10.5px;
    margin-top: -2.8px;
}

.close {
    display: none;
}

.sidebar__menu a {
    display    : flex;
    color      : var(--color-info-dark);
    margin-left: 28px;
    gap        : 14px;
    align-items: center;
    position   : relative;
    height     : 51.8px;
    transition : all 0.3s ease;
}

.sidebar__menu a span {
    font-size : 22.4px;
    transition: all 0.3s ease;
}

.sidebar__item--active {
    background : var(--color-light);
    color      : var(--color-primary);
    margin-left: 0;
}

.sidebar__item--active:before {
    content   : "";
    width     : 6px;
    height    : 100%;
    background: var(--color-primary);
    position  : absolute;
    left      : 0;
}

.sidebar__item--active span {
    color      : var(--color-primary);
    margin-left: calc(14px - 3px);
}

.sidebar__menu a:hover {
    color: var(--color-primary);
}

.sidebar__menu a:hover span {
    margin-left: 11.2px;
}

.message__count {
    background   : var(--color-danger);
    color        : var(--color-white);
    padding      : 2px 10px;
    font-size    : 11px;
    border-radius: var(--border-radius-1);
}

.main-content {
    margin-top: 19.6px;
}

.main-content__heading {
    color        : var(--color-dark);
    margin-bottom: 21px;
}

.main-content__insights {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 22.4px;
}

.insight-card {
    background   : var(--color-white);
    padding      : var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top   : 14px;
    box-shadow   : var(--box-shadow);
    transition   : all 0.3s ease;
}

.insight-card:hover {
    box-shadow: none;
}

.insight-card__icon {
    background   : var(--color-primary);
    padding      : 7px;
    border-radius: 50%;
    color        : var(--color-white);
    font-size    : 28px;
}

.insight-card.expenses .insight-card__icon {
    background: var(--color-danger);
}

.insight-card.income .insight-card__icon {
    background: var(--color-success);
}

.insight-card__middle {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.insight-card__title {
    margin   : 16.8px 0 8.4px 0;
    font-size: 14px;
    color    : var(--color-dark-variant);
}

.insight-card__value {
    font-size: 25.2px;
}

.insight-card__progress {
    position     : relative;
    width        : 92px;
    height       : 92px;
    border-radius: 50%;
}

.insight-card__svg {
    width   : 98px;
    height  : 98px;
    position: absolute;
    top     : 0;
    left    : 0;
}

.insight-card__circle {
    fill             : none;
    stroke-width     : 10;
    stroke           : var(--color-primary);
    transform        : translate(5px, 5px);
    stroke-dasharray : 226;
    stroke-dashoffset: 20;
    stroke-linecap   : round;
}

.insight-card.expenses .insight-card__circle {
    stroke: var(--color-danger);
}

.insight-card.income .insight-card__circle {
    stroke: var(--color-success);
}

.insight-card__number {
    position       : absolute;
    top            : 0;
    left           : 0;
    height         : 100%;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.insight-card__time {
    margin-top: 18.2px;
    display   : block;
    color     : var(--color-dark-variant);
}

.recent-orders {
    margin-top: 28px;
}

.recent-orders__heading {
    margin-bottom: 11.2px;
    color        : var(--color-dark);
}

.recent-orders__table {
    background   : var(--color-white);
    width        : 100%;
    padding      : var(--card-padding);
    text-align   : left;
    box-shadow   : var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition   : all 0.3s ease;
}

.recent-orders__table:hover {
    box-shadow: none;
}

.recent-orders__table tbody td {
    height       : 39.2px;
    border-bottom: 1px solid var(--color-info-light);
    color        : var(--color-dark-variant);
}

.recent-orders__table tbody tr:last-child td {
    border: none;
}

.status--warning {
    color: var(--color-warning);
}

.status--danger {
    color: var(--color-danger);
}

.status--success {
    color: var(--color-success);
}

.recent-orders__show-all {
    text-align: center;
    display   : block;
    margin    : 14px auto;
    color     : var(--color-primary);
    transition: color 0.3s;
}

.recent-orders__show-all:hover {
    color: var(--color-primary-variant);
}

.right-panel {
    margin-top: 19.6px;
}

.right-panel__top {
    display        : flex;
    justify-content: end;
    gap            : 28px;
}

.menu-button {
    display: none;
}

.theme-toggler {
    background     : var(--color-light);
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 23px;
    width          : 60px;
    cursor         : pointer;
    border-radius  : 52px;
}

.theme-toggler__icon {
    font-size      : 16.8px;
    width          : 50%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    border-radius  : 52px;
    justify-content: center;
}

.theme-toggler__icon--active {
    background   : var(--color-primary);
    color        : white;
    border-radius  : 52px;
}

.profile {
    display    : flex;
    gap        : 28px;
    text-align : right;
    align-items: center;
    margin-right: 25px;
}

.profile__info p {
    color    : var(--color-dark-variant);
    font-size: 12.6px;
}

.profile__role {
    color: var(--color-info-dark);
}

.profile__photo img {
    width        : 39.2px;
    height       : 39.2px;
    border-radius: 50%;
    object-fit   : cover;
}

.recent-updates {
    margin-top: 28px;
}

.recent-updates__heading {
    margin-bottom: 11.2px;
}

.recent-updates__list {
    background   : var(--color-white);
    padding      : var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow   : var(--box-shadow);
    transition   : all 0.3s ease;
}

.recent-updates__list:hover {
    box-shadow: none;
}

.update-item {
    display              : grid;
    grid-template-columns: 39.2px auto;
    gap                  : 14px;
    margin-bottom        : 14px;
    padding-bottom       : 14px;
    border-bottom        : 1px solid var(--color-info-light);
}

.update-item:last-child {
    border-bottom : none;
    padding-bottom: 0;
}

.update-item__photo img {
    width        : 39.2px;
    height       : 39.2px;
    border-radius: 50%;
}

.update-item__message small {
    color: var(--color-info-dark);
}

.sales-analytics {
    margin-top: 28px;
}

.sales-analytics__heading {
    margin-bottom: 11.2px;
}

.sales-item {
    background   : var(--color-white);
    display      : flex;
    align-items  : center;
    gap          : 14px;
    margin-bottom: 9.8px;
    padding      : 19.6px var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow   : var(--box-shadow);
    transition   : all 0.3s ease;
}

.sales-item:hover {
    box-shadow: none;
}

.sales-item__icon-container {
    padding      : 8.4px;
    color        : var(--color-white);
    border-radius: 50%;
    display      : flex;
}

.sales-item.online .sales-item__icon-container {
    background: var(--color-primary);
}

.sales-item.offline .sales-item__icon-container {
    background: var(--color-danger);
}

.sales-item.customers .sales-item__icon-container {
    background: var(--color-success);
}

.sales-item__info h3 {
    font-size: 14px;
}

.sales-item__percentage {
    color: var(--color-success);
}

.sales-item.offline .sales-item__percentage {
    color: var(--color-danger);
}

.sales-item.add-product {
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 2px dashed var(--color-primary);
    color          : var(--color-primary);
    cursor         : pointer;
}

@media(max-width: 768px) {
    .container {
        width                : 100%;
        grid-template-columns: 1fr;
    }

    .sidebar {
        position     : fixed;
        top: 0;
        left         : -100%;
        background   : var(--color-white);
        width        : 252px;
        z-index      : 3;
        box-shadow   : 14px 42px 56px var(--color-light);
        height       : 100vh;
        padding-right: var(--card-padding);
        display      : none;
        transition   : all 0.4s ease;
        animation    : none;
    }

    .sidebar__top .logo h1,
    .sidebar__top .logo p,
    .sidebar h3 {
        display: inline;
    }

    .sidebar .close {
        display: inline-block;
        cursor : pointer;
    }

    .main-content {
        padding: 56px 14px 0 14px;
    }

    .main-content__insights {
        grid-template-columns: 1fr;
        gap                  : 14px;
    }

    .insight-card {
        padding: var(--card-padding);
    }

    .insight-card__progress {
        position     : relative;
        width        : 92px;
        height       : 92px;
        border-radius: 50%;
    }

    .insight-card__svg {
        width   : 98px;
        height  : 98px;
        position: absolute;
        top     : 0;
        left    : 0;
    }

    .insight-card__circle {
        fill             : none;
        stroke-width     : 10;
        stroke           : var(--color-primary);
        transform        : translate(5px, 5px);
        stroke-dasharray : 226;
        stroke-dashoffset: 20;
        stroke-linecap   : round;
    }

    .insight-card.expenses .insight-card__circle {
        stroke: var(--color-danger);
    }

    .insight-card.income .insight-card__circle {
        stroke: var(--color-success);
    }


    .insight-card__number p {
        font-size: 0.8rem;
    }

    .insight-card h1 {
        font-size: 1.4rem;
    }


    .recent-orders {
        position: relative;
        margin  : 42px 0 0 0;
        width   : 100%;
    }

    .recent-orders__table {
        width : 100%;
        margin: 0;
    }

    .recent-orders__table tbody td {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        max-width    : 100px;
        height       : 39.2px;
        border-bottom: 1px solid var(--color-info-light);
        color        : var(--color-dark-variant);
    }

    .right-panel {
        width : 92%;
        margin: 0 auto 56px;
    }

    .right-panel__top {
        position   : fixed;
        top        : 0;
        left       : 0;
        align-items: center;
        padding    : 0 11.2px;
        height     : 64.4px;
        background : var(--color-white);
        width      : 100%;
        margin     : 0;
        z-index    : 2;
        box-shadow : 0 1px 14px var(--color-light);
    }

    .theme-toggler {
        width    : 61.6px;
        position : absolute;
        left     : 50%;
        transform: translateX(-50%);
    }

    .menu-button {
        display   : inline-block;
        cursor    : pointer;
        color     : var(--color-dark);
        background: none;
        position  : absolute;
        left      : 14px;
        z-index   : 3;
    }
}

.sales-item.add-product div {
    display: flex;
    gap    : 8.4px;
}

.sales-item.add-product h3 {
    font-weight: 600;
}

.content-section {
    display      : none;
    padding      : 28px;
    background   : var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow   : var(--box-shadow);
}

.content-section--active {
    display: block !important;
}

.sidebar__item--active {
    background : var(--color-light);
    color      : var(--color-primary);
    border-left: 5px solid var(--color-primary);
}

.sidebar__item {
    transition: all 300ms ease;
}

:root {
    --color-white: #ffffff;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
}

/* DARK MODE */
body.dark-theme-variables {
    --color-white: #202020;         
    --color-dark: #eee;             
    --color-light: rgba(0, 0, 0, 0.18);
    --color-background: #181a1e;  
}


.theme-toggler {
    background: var(--color-light); 
}